<!DOCTYPE html>
<html lang="en">
<%- include('head', request);%>
<body>
  <!-- <button type="button" class="btn btn-success btn-lg js-start-game">Начать игру!</button> -->
  <div id="app"></div>
</body>
</html>
