<!DOCTYPE html>
<html lang="en">
<%- include('head', request);%>
<body>

  <p>Отправьте ссылку на эту игру другу</p>
  <a href="/room/<%= request.params.id %>">
    /room/<%= request.params.id %>
  </a>

</body>
</html>
